/**
 * static.cms - v1.0.0  License By 
 * WEB小组  
 */
body, html {
    background-color: #F9F9F9 !important
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.main-container {
    width: 1200px;
    margin: 0 auto
}

.search-wrap {
    position: relative;
    margin: 20px auto
}

.search-wrap img {
    vertical-align: top
}

.detail-wrap {
    position: relative;
    background-color: #fff;
    width: 1160px;
    padding: 20px
}

.detail-wrap .nav-wrap {
    margin-bottom: 30px;
    display: block
}

.detail-wrap .nav-wrap .text {
    font-size: 12px;
    color: #aaa
}

.detail-wrap .nav-wrap .text span {
    color: #666;
    margin-left: 6px
}

.detail-wrap .nav-wrap .text a {
    padding: 0 5px;
    color: #aaa
}

.detail-wrap .nav-wrap .text a:focus, .detail-wrap .nav-wrap .text a:hover {
    color: #FF6C00
}

.no-cursor {
    cursor: default
}

.detail-wrap .detail-row {
    margin-bottom: 20px
}

.detail-wrap .detail-row a.img {
    float: left
}

.detail-wrap .detail-row a.img img {
    display: block;
    border: 0;
    width: 328px;
    height: 328px
}

.detail-wrap .detail-row .detail-col {
    position: relative;
    float: left;
    width: 590px;
    height: 400px;
    margin-left: 50px;
    font-family: "Microsoft YaHei"
}

.detail-wrap .detail-row .detail-col a.title .tmall {
    background: url(../images/tmall.png?v=202001232029) no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-top: 8px
}

.detail-wrap .detail-row .detail-col a.title .taobao {
    background: url(../images/taobao.png?v=202001232029) no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-top: 9px
}

.detail-wrap .detail-row .detail-col a.title span.title {
    float: left;
    width: 500px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: block;
    font-size: 18px;
    color: #424242;
    margin-left: 4px
}

.detail-wrap .detail-row .detail-col .desc {
    width: 100%;
    line-height: 20px;
    margin-top: 10px;
    color: #5C5C5C;
    font-size: 14px;
    height: 60px;
    overflow: hidden
}

.detail-wrap .detail-row .detail-col .desc span {
    color: #ed145b
}

.detail-wrap .detail-row .detail-col .coupon-wrap {
    height: 30px;
    line-height: 30px;
    margin: 30px auto 20px;
    padding: 20px;
    position: relative;
    background: url(../images/show-price-bg.jpg?v=202001232029) no-repeat;
    background-size: cover
}

.detail-wrap .detail-row .detail-col .coupon-wrap .org-price {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #acacac
}

.detail-wrap .detail-row .detail-col .coupon-wrap .org-price i {
    margin-left: 2px
}

.detail-wrap .detail-row .detail-col .coupon-wrap .now-price {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #4e4e4e;
    margin-right: 50px
}

.detail-wrap .detail-row .detail-col .coupon-wrap .now-price b {
    color: #ed145b;
    font-weight: 400;
    font-family: Arial
}

.detail-wrap .detail-row .detail-col .coupon-wrap .now-price b i {
    margin-left: 5px;
    font-size: 30px;
    font-weight: 700
}

.detail-wrap .detail-row .detail-col .text-wrap {
    height: 16px;
    line-height: 16px;
    padding: 10px 0;
    border-top: 1px dotted #C9C9C9;
    border-bottom: 1px dotted #C9C9C9;
    font-size: 12px;
    color: #8E8787
}

.detail-wrap .detail-row .detail-col .text-wrap span i {
    margin: 0 5px;
    color: #ed145b;
    font-family: Arial
}

.detail-wrap .detail-row .detail-col .text-wrap span.text-wrap-span {
    border-right: 1px solid #E5DFDA;
    padding: 0 20px;
    margin-right: 20px
}

.detail-wrap .detail-row .detail-col .buy-step {
    position: relative;
    width: 100%;
    margin: 50px auto 0
}

.detail-wrap .detail-row .detail-col .buy-step .buy-step-text {
    float: left;
    width: 30px;
    height: 38px;
    line-height: 19px;
    margin-top: 7px;
    margin-right: 30px;
    color: #727272;
    font-size: 14px
}

.detail-wrap .detail-row .detail-col .buy-step .buy-step-first {
    float: left;
    width: 145px;
    height: 52px;
    background-color: #F2EBCF;
    overflow: hidden
}

.detail-wrap .detail-row .detail-col .buy-step .buy-step-first span {
    float: left;
    width: 79px;
    height: 40px;
    padding: 6px 0;
    color: #ed145b;
    text-align: center
}

.detail-wrap .detail-row .detail-col .buy-step .buy-step-first span i {
    display: block;
    font-size: 12px;
    line-height: 18px
}

.detail-wrap .detail-row .detail-col .buy-step .buy-step-first span b {
    display: block;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400
}

.detail-wrap .detail-row .detail-col .buy-step .buy-step-first .coupon-btn {
    float: right;
    width: 37px;
    height: 36px;
    line-height: 18px;
    padding: 8px 11px 8px 17px;
    text-align: center;
    font-size: 12px;
    letter-spacing: .1em;
    color: #FFF;
    background: url(../images/coupon-btn.png?v=202001232029) no-repeat;
    transition: font-size .3s
}

.detail-wrap .detail-row .detail-col .buy-step .buy-step-first .coupon-btn:hover {
    font-size: 14px
}

.detail-wrap .detail-row .detail-col .buy-step .buy-step-sec {
    float: left;
    width: 145px;
    height: 52px;
    line-height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    background-color: #ed145b;
    transition: font-size .3s
}

.detail-wrap .detail-row .detail-col .buy-step .buy-btn:hover {
    font-size: 16px
}

.detail-wrap .detail-row .detail-col .buy-step .double-arrow {
    position: relative;
    float: left;
    width: 68px;
    height: 52px
}

.detail-wrap .detail-row .detail-col .buy-step .double-arrow span {
    position: absolute;
    top: 23px;
    left: 50%;
    display: block;
    width: 24px;
    height: 11px;
    margin-left: -12px;
    background: url(../images/arrow-right.png?v=202001232029) center center no-repeat
}

.detail-wrap .detail-row .detail-col .ehy-disabled, .detail-wrap .detail-row .detail-col .ehy-normal {
    height: 52px;
    position: relative;
    display: block;
    width: 150px;
    text-align: center;
    line-height: 52px;
    background: #ed145b;
    margin-top: 24px;
    padding-left: 60px;
    color: #ed145b
}

.detail-wrap .detail-row .detail-col .ehy-disabled {
    background: #ccc;
    color: #aaa
}

.detail-wrap .detail-row .detail-col .ehy-disabled p, .detail-wrap .detail-row .detail-col .ehy-normal a {
    color: #fff;
    display: block
}

.detail-wrap .detail-row .detail-col .buy-coupon {
    position: absolute;
    width: 60px;
    height: 52px;
    background: url(../web/images/cms_pc_img.png?v=202001232029) -30px -129px no-repeat;
    left: 0;
    top: 0
}

.detail-wrap .detail-row .detail-col .ehy-disabled .buy-coupon {
    background-position-x: -100px
}

.detail-wrap .detail-row .detail-col .buy-coupon span {
    height: 18px;
    line-height: 25px;
    margin: 2px auto;
    display: block
}

.detail-wrap .detail-row .detail-col .buy-coupon span b {
    font-weight: 400;
    font-size: 20px;
    font-family: "Microsoft Yahei"
}

.detail-wrap .detail-row .detail-col .buy-coupon span b i {
    font-size: 12px
}

.detail-wrap .detail-row .detail-col .text2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #b1b1b1;
    text-align: left
}

.detail-wrap .detail-row .detail-col .text2 span {
    display: inline-block;
    vertical-align: middle
}

.detail-wrap .detail-row .detail-col .text2 .bdshare {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    position: static
}

.detail-wrap .detail-row .detail-col .bdshare {
    font-size: 12px;
    color: #b1b1b1;
    position: absolute;
    right: 10px;
    top: 10px
}

.pos-right {
    position: absolute;
    top: 0;
    right: 20px;
    width: 125px;
    padding: 26px 0 14px
}

.pos-right p {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #C8C8C8
}

.pos-right p span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 76px;
    height: 17px;
    line-height: 17px;
    margin-left: -38px;
    margin-top: -8px;
    text-align: center;
    font-size: 12px;
    background-color: #FFF
}

.pos-right .pos-box {
    position: relative;
    width: 100%;
    height: 415px;
    margin-top: 20px;
    overflow: hidden
}

.pos-right .pos-box .pos-goods-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px
}

.pos-right .pos-box .pos-goods-list .pos-goods {
    position: relative;
    display: block;
    width: 100%;
    height: 125px;
    margin-bottom: 20px
}

.pos-right .pos-box .pos-goods-list .pos-goods img {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #EFEFEF
}

.pos-right .pos-box .pos-goods-list .pos-goods span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #2A2A2A;
    font-size: 12px;
    background-color: rgba(255, 255, 255, .8)
}

.pos-right .pos-act {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    overflow: hidden
}

.pos-right .pos-act a {
    float: left;
    width: 30px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../images/arrow-topbot.png?v=202001232029);
    background-repeat: no-repeat
}

.pos-right .pos-act a.top-btn {
    margin-left: 25px;
    background-position: 0 0
}

.pos-right .pos-act a.top-btn:hover {
    background-position: 0 -20px
}

.pos-right .pos-act a.top-btn.disabled {
    background-position: 0 -40px;
    cursor: default
}

.pos-right .pos-act a.bot-btn {
    margin-left: 15px;
    background-position: -30px 0
}

.pos-right .pos-act a.bot-btn:hover {
    background-position: -30px -20px
}

.pos-right .pos-act a.bot-btn.disabled {
    background-position: -30px -40px;
    cursor: default
}

.jipin-wrap {
    width: 1186px;
    height: 24px;
    line-height: 24px;
    margin: 35px auto 20px;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    color: #2D2D2D;
    display: block
}

.jipin-wrap .jinpin-tit {
    float: left;
    background: url(../web/images/jptj.png?v=202001232029) left center no-repeat;
    padding-left: 30px;
    letter-spacing: 2px;
    color: #454545
}

.jipin-wrap .jinpin-txt {
    float: left;
    margin-left: 8px;
    font-size: 14px;
    padding-top: 2px;
    color: #999
}

.goods-list ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.goods-list ul li {
    float: left;
    list-style: none;
    margin: 0 18px 20px 0;
    padding: 0;
    border: 1px solid #eee;
    height: 400px;
    width: 284px;
    background: #fff;
    display: block;
    overflow: hidden
}

.goods-list ul li:focus, .goods-list ul li:hover {
    border: 1px solid #ff3e80;
    box-shadow: 0 0 10px 0 rgba(170, 170, 170, .63)
}

.cat-wrap .cat-list ul li a {
    color: #4C4C4C
}

.goods-list ul li a.img {
    position: relative;
    display: block;
    width: 284px;
    height: 284px;
    margin: 0;
    padding: 0
}

.goods-list ul li a.img i {
    width: 40px;
    height: 40px;
    left: 0;
    top: -1px;
    position: absolute;
    background: url(../web/images/cms_pc_img.png?v=202001232029) 0 -78px no-repeat;
    overflow: hidden
}

.goods-list ul li a.img img {
    border: none;
    max-width: 284px;
    max-height: 284px;
    vertical-align: middle
}

.goods-list ul li .padding {
    padding: 18px 12px
}

.goods-list ul li .padding .title a {
    color: #444
}

.goods-list ul li .padding .title {
    height: 14px;
    overflow: hidden;
    display: block;
    line-height: 14px;
    letter-spacing: .5px;
    margin-bottom: 13px
}

.goods-list ul li .padding .coupon-wrap {
    position: relative;
    height: 26px;
    display: block;
    width: 100%;
    margin-bottom: 12px
}

.goods-list ul li .padding b {
    font-family: Arial
}

.goods-list ul li .padding i {
    font-family: "Microsoft Yahei";
    font-size: 14px
}

.goods-list ul li .padding .coupon-wrap .price {
    height: 26px;
    line-height: 18px;
    color: #ff0060;
    float: left;
    overflow: hidden
}

.goods-list ul li .padding .coupon-wrap .price b {
    font-size: 30px;
    padding-right: 2px;
    line-height: 28px
}

.goods-list ul li .padding .coupon-wrap .old-price {
    float: left;
    width: 50px;
    margin-left: 10px;
    text-decoration: line-through;
    height: 26px;
    font: 14px "Microsoft Yahei";
    color: #aaa;
    line-height: 40px
}

.goods-list ul li .padding .coupon-wrap .coupon {
    position: absolute;
    right: 0;
    font: 12px Simsun;
    text-align: center;
    background: #fff7fa;
    color: #ff0060;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    margin: 0;
    border: 1px dotted #ff0060;
    border-left: none;
    border-right: none
}

.goods-list ul li .padding .coupon-wrap .coupon em {
    position: absolute;
    top: 0;
    width: 6px;
    height: 24px;
    background: url(../web/images/cms_pc_img.png?v=202001232029) -120px -79px no-repeat #fff
}

.goods-list ul li .padding .coupon-wrap .coupon em.quan-right {
    right: 0;
    background-position-x: -136px
}

.goods-list ul li .padding .coupon-wrap .coupon em.quan-left {
    left: 0
}

.goods-list ul li .padding .coupon-wrap .coupon b {
    font-size: 14px;
    font-family: "Microsoft Yahei";
    float: right;
    position: relative
}

.goods-list ul li .padding .goods-num-type {
    display: block;
    position: relative;
    height: 16px;
    line-height: 16px
}

.goods-list ul li .padding .goods-num-type .goods-num {
    color: #787878
}

.goods-list ul li .padding .goods-num-type b {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    color: #fc903d;
    padding: 0 3px
}

.goods-list ul li .price-wrap {
    background-color: #de366e;
    position: relative;
    padding: 5px
}

.goods-list ul li .price-wrap .price .text {
    color: #FFF;
    font-size: 14px
}

.goods-list ul li .price-wrap .price .text .price {
    font-size: 28px
}

.goods-list ul li .price-wrap .org-price {
    position: absolute;
    top: 21px;
    right: 29px;
    color: #FFF;
    font-size: 12px;
    font-weight: 400
}

.detail-wrap .detail-row .detail-col .coupon-wrap .dj-price {
    color: red;
    margin-left: 50px
}

.goods-list ul .no-right {
    margin-right: 0
}

.more-btn {
    display: block;
    width: 124px;
    height: 40px;
    line-height: 40px;
    margin: 30px auto 60px;
    text-align: center;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: #FFF;
    background-color: #FF903E;
    transition: background-color .2s
}

.more-btn:hover {
    color: #FFF;
    background-color: #F16600
}

.goto-div {
    display: none;
    background-color: #FFF;
    overflow: hidden
}

.goto-btn {
    display: block;
    width: 128px;
    height: 30px;
    line-height: 30px;
    margin: 15px auto;
    text-align: center;
    background-color: #FF6C00;
    color: #FFF
}

.detail-wrap .detail-row .detail-col .goods-tit-type {
    position: absolute;
    right: 0;
    bottom: 38px;
    display: block;
    width: 150px;
    height: 16px
}

.detail-wrap .detail-row .detail-col .goods-tit-type .goods-num {
    color: #787878
}

.detail-wrap .detail-row .detail-col .goods-tit-type b {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    color: #fc903d;
    padding: 0 3px
}

.detail-video {
    width: 330px;
    height: 330px;
    float: left;
    background: #f6f4f5;
    text-align: center;
    border-radius: 10px
}

.detail-video img {
    width: auto !important
}

.jp-gui {
    height: 340px;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    left: 0
}

.jp-video .jp-type-single .jp-controls {
    margin-left: 154px;
    width: 90px
}

.jp-video .jp-volume-controls {
    top: 15px
}

.jp-full-screen:focus, .jp-play, .jp-play:focus, .jp-repeat:focus, .jp-state-full-screen .jp-full-screen:focus, .jp-state-looped .jp-repeat:focus, .jp-state-playing .jp-play, .jp-state-playing .jp-play:focus, .jp-stop, .jp-stop:focus, .jp-toggles button.jp-full-screen, .jp-toggles button.jp-repeat {
    background: url(../web/images/cms_pc_img.png?v=202001232029) -5px -356px no-repeat;
    padding: 0
}

.jp-gui .jp-mute, .jp-gui .jp-mute:hover, .jp-state-muted .jp-gui .jp-mute, .jp-state-muted .jp-gui .jp-mute:focus, .jp-state-muted .jp-gui .jp-mute:hover, .jp-state-muted .jp-gui .jp-mute:hover:focus, .jp-video .jp-mute:focus {
    background: url(../web/images/cms_pc_img.png?v=202001232029) -169px -353px no-repeat;
    padding: 0
}

.jp-gui .jp-mute {
    width: 14px;
    height: 10px
}

.jp-gui .jp-mute, .jp-gui .jp-mute:focus {
    background-position-y: -353px
}

.jp-gui .jp-mute:hover, .jp-video .jp-mute:focus:hover {
    background-position-y: -371px
}

.jp-state-muted .jp-gui .jp-mute, .jp-state-muted .jp-gui .jp-mute:focus, .jp-state-muted .jp-gui .jp-mute:hover:focus {
    background-position-y: -389px
}

.jp-state-muted .jp-gui .jp-mute:hover, .jp-state-muted .jp-gui .jp-mute:hover:focus {
    background-position-y: -407px
}

.jp-play-bar {
    border-radius: 0 5px 5px 0;
    background: #ed145b
}

.jp-volume-controls .jp-volume-bar {
    width: 60px;
    height: 2px;
    top: 4px;
    background: #e3e3e3;
    left: 19px
}

.jp-video .jp-progress {
    height: 0
}

.jp-video .jp-progress .jp-seek-bar {
    background: #e2e2e2
}

.jp-audio, .jp-audio-stream, .jp-video, .jp-video .jp-interface {
    border: none;
    background: 0 0
}

.jp-video .jp-interface {
    height: 70px;
    position: relative
}

.jp-interface .jp-controls-holder {
    width: 360px;
    top: 0
}

.jp-volume-bar-value {
    background: #ed145b;
    height: 2px
}

.jp-video-play-icon, .jp-video-play-icon:focus {
    background: url(../web/images/cms_pc_img.png?v=202001232029) -204px -191px no-repeat;
    width: 76px;
    height: 76px;
    padding: 0;
    margin: -33px 0 0 -33px;
    border-radius: 100%
}

.jp-video-play-icon:focus:hover, .jp-video-play-icon:hover {
    background-position-y: -267px
}

.jp-play, .jp-play:focus {
    width: 44px;
    height: 44px;
    background-position: -4px -354px;
    padding: 0;
    margin: 0
}

.jp-state-playing .jp-play, .jp-state-playing .jp-play:focus {
    background-position: -4px -454px
}

.jp-state-playing .jp-play:focus:hover, .jp-state-playing .jp-play:hover {
    background-position: -4px -504px
}

.jp-play:hover {
    background-position: -4px -404px
}

.jp-stop {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    padding: 0;
    background-position: -63px -354px
}

.jp-stop:focus, .jp-stop:hover {
    background-position: -63px -390px
}

.jp-toggles button.jp-repeat {
    background-position: -107px -348px;
    width: 18px;
    height: 20px
}

.jp-state-looped button.jp-repeat, .jp-state-looped button.jp-repeat:focus, .jp-state-looped button.jp-repeat:hover, .jp-toggles button.jp-repeat:hover {
    background-position: -107px -368px
}

.jp-state-full-screen .jp-full-screen, .jp-toggles button.jp-full-screen {
    width: 16px;
    height: 16px;
    background-position: -138px -351px;
    margin-top: 2px;
    margin-left: 15px
}

.jp-full-screen:focus, .jp-state-full-screen .jp-full-screen:focus, .jp-toggles button.jp-full-screen:hover {
    background-position: -138px -371px
}

.jp-video .jp-toggles {
    width: 70px;
    right: 20px
}

.jp-video-txt {
    height: 30px;
    width: 360px;
    display: block;
    overflow: hidden;
    margin: 14px 0 16px
}

.jp-video-txt-list {
    width: 380px;
    display: block;
    height: 30px
}

.jp-video-txt .jp-video-txt-item {
    float: left;
    width: 108px;
    height: 28px;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #ddd;
    font: 12px/28px "Microsoft Yahei";
    margin-right: 15px;
    cursor: pointer
}

.jp-video-txt .jp-video-txt-item span:hover {
    background: #eee
}

.jp-video-txt .jp-video-txt-item span {
    color: #454545;
    display: block;
    background: #f9f9f9
}

a.img .video_icon {
    width: 50px !important;
    height: 50px !important;
    border: 2px solid #fff;
    border-radius: 100%;
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    margin: -27px;
    background: rgba(0, 0, 0, .5)
}

.goods-ssy .ssy, .goods-ssy .ssy-ks {
    background-position: center;
    margin-right: 20px;
    display: inline-block
}

.goods-ssy .ssy, .goods-ssy .ssy-ks, .sxy_bg {
    background-repeat: no-repeat
}

a.img .video_icon:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 13px;
    left: 18px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 16px solid #fff
}

.goods-ssy {
    background-color: #FF0036;
    position: absolute;
    width: 94%;
    height: 30px;
    line-height: 30px;
    padding: 0 3%;
    color: #F6FF00
}

.goods-ssy .zsz {
    color: #fff;
    float: right;
    font-size: 12px
}

.goods-ssy .ssy {
    background-image: url(../images/wapdt11.png?v=202001232029);
    background-size: 90%;
    height: 30px;
    width: 115px;
    float: left
}

.goods-ssy .ssy-ks {
    background-image: url(../images/ssyjx.png?v=202001232029);
    background-size: 88%;
    height: 30px;
    width: 75px;
    float: left
}

.goods-ssy i {
    margin-right: 3px
}

.goods-ssy b {
    margin-right: 12px
}

.pc-spjc {
    position: absolute;
    right: 0;
    top: 5px;
    color: #999
}

.pc-spjc i {
    width: 14px;
    height: 14px;
    background-image: url(../images/shoufa/cms_pic-recourses.png?v=202001232029);
    background-position: -233px -55px;
    display: inline-block;
    position: relative;
    top: 2px;
    right: 5px
}

.pc-spjc:hover {
    color: #FF8E7F
}

.detail-row .sm-img li {
    width: 55px;
    height: 55px;
    float: left;
    margin-left: 13px;
    margin-top: 13px;
    cursor: auto
}

.detail-row .sm-img li:first-child {
    margin-left: 0
}

.detail-wrap .detail-row .sm-img li img {
    width: 55px;
    height: 55px;
    display: block;
    border: 1px solid transparent;
    cursor: pointer
}

.sxy_bg, .sxy_bg .dj {
    line-height: 30px;
    height: 30px
}

.detail-wrap .detail-row .sm-img li img:hover {
    border: 1px solid red
}

.detail-wrap .detail-row .detail-col .dt_618 {
    margin: 20px 0 -29px;
    background-image: url(../images/pcdt_618.jpg?v=202001232029);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #fff
}

.detail-wrap .detail-row .detail-col .dt_618 span:last-child {
    float: right
}

.sxy_bg {
    background-image: url(../images/s11_image/cmssxybg.png?v=202001232029);
    background-size: 100% 100%;
    margin-bottom: -30px;
    padding: 0 20px
}

.sxy_bg .dj {
    margin-right: 20px;
    float: left
}

.sxy_bg img {
    height: 20px;
    margin-top: 5px
}

.sxy_bg img.jx, .sxy_bg img.ys {
    float: left;
    margin-right: 50px
}

.sxy_bg img.zsz {
    float: right;
    height: 16px;
    margin-top: 7px
}